<template>
  <div id="vue-views-app">

    <h3>{{ view_title }} - Definido en vue views webpack setup.</h3>
    <table class="admin-dblog-ui">
      <thead>
        <tr>
          <th v-for="field in view.fields">
                {{ field }}
          </th>
        </tr>
      </thead>
        <transition name="dblog-ui">
          <tbody :class="{'dblog-ui-data-loading' : loading}">
            <tr v-for="row in view.results" :key="row.id">
              <td v-for="value in row">
                {{ value }}
              </td>
            </tr>
            <tr v-if="!view.results.length" class="dblog-ui-placeholder">
              <td colspan="6" v-if="loading">Loading...</td>
              <td colspan="6" v-else>No log messages available.</td>
            </tr>
          </tbody>
        </transition>
      </table>

  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      view: {
        results: [],
        fields: [],
      },
      loading: false,
      totalPages: 1,
      view_title: 'Some Vue View'
    }
  }
}
</script>

<style lang="scss">
#vue-views-app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
