<div id="vue-views-app-{{ view_id }}-{{ display_id }}" v-cloak></div>

<template id="vue-views-display-{{ view_id }}-{{ display_id }}">
{% verbatim %}
  <div>
    <span>GRID</span>
  </div>
{% endverbatim %}
</template>
